.container-busca {
    width: 65%;
    height: fit-content;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #edecec;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border: 6px solid #686868;
    outline: 6px solid #959494;
}

.pokemon-top-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.pokemon-left {
    flex: 2 1 250px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #616161;
    border: 3px solid rgb(38, 38, 38);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

.pokemon-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png');
    background-repeat: repeat-x;
    background-size: contain;
    opacity: 0.15;
    transform: scale(1.2);
    animation: scroll-bg 15s linear infinite;
    z-index: 0;
    transform: perspective(400px) rotateX(15deg) scale(1.2);
}

@keyframes scroll-bg {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100%;
  }
}

.pokemon-image {
    position: relative;
    width: 100%;
    scale: 0.8;
    height: auto;
    z-index: 1;
    transition: all 0.3s;
}

.pokemon-left:hover {
    transform: translateY(-10px);
}

.pokemon-left:hover .pokemon-image {
    transform: scale(1.05);
}

.pokemon-right {
    flex: 1 1 400px;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0;
    width: 55%;
    padding: 15px 20px;
}

.pokemon-right h2 {
    font-family: 'Pixelify Sans', sans-serif;
    color: #2b4f8c;
    margin-bottom: 15px;
}

.pokemon-right p {
    margin: 8px 0;
    font-size: 16px;
}

.pokedex-data-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #999;
    padding-bottom: 5px;
    font-family: 'Pixelify Sans', sans-serif;
}

.pokemon-types,
.pokemon-abilities {
    margin-bottom: 10px;
}

.pokemon-abilities ol {
    padding-left: 20px;
    margin: 0;
}

.pokemon-abilities li {
    margin-bottom: 4px;
    font-size: 15px;
}

.types-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.type-icon {
    max-width: 30%;
    height: auto;
    vertical-align: middle;
}

.pokemon-navigation-bar {
    background-color: #2b4f8c;
    color: white;
    padding: 10px 15px;
    border-radius: 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.nav-button {
    background-color: #2b4f8c;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s;
}

.nav-button:hover {
    background-color: #1d3560;
    color: white;
}

.nav-button svg {
    font-size: 1.2rem;
}

.l-detail {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.r-detail {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.pokemon-header-title {
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}