@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.container-pokedex {
    width: 65%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #959cee;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border: 6px solid #ecd9ef;
    outline: 6px solid #caa746;
    overflow: hidden;
    background-image: url('https://i.imgur.com/cBGHxdm.png');
    background-position: center;
}

.title-pokedex {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    -webkit-text-stroke: 1px rgba(0,0,0,0.6);
}

.geracao-group {
    display: flex;
    flex-direction: row;
}

.geracao-select {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: larger;
    background-color: #3c6eaf;
    color: #ffffff;
    border: 3px solid #2b4f8c;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    max-width: 30%;
    margin: 0 auto;
    box-shadow: 0 4px #1f3d6d;
    transition: 0.2s ease;
}

.geracao-select:hover {
    background-color: #5a8bd9;
}

.geracao-select:focus {
    outline: none;
    box-shadow: 0 0 10px #3c6eaf;
}

.pokedex {
    cursor: pointer;
    overflow: hidden;
    background-color: #313131;
    background-color: rgba(49,49,49,0.3);
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pokemon-img {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5 !important;
    scale: 0.85;
    transition: transform 0.3s ease-in-out;
}

.pokedex:hover .pokemon-img {
    transform: scale(1.10);
}

.pokedex:hover {
    background-color: rgba(35,35,35,.8);
    transform: translateY(-10px);
}

.pokedex-hold {
    min-height: 15vmax;
    border-radius: 20px;
    border: 2px solid #616161 !important;
    transition: border 0.3s ease-in-out;
}

.pokedex:hover .pokedex-hold {
    border: 2px solid rgba(35, 35, 35, 0.8) !important;
}

.pokedex-id {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    color: #525252;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    z-index: 1 !important;
    transition: color 0.3s ease;
}

.pokedex:hover .pokedex-id {
    color: #ffffff;
}

.icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.type-icon {
    max-width: 50%;
    height: auto;
    vertical-align: middle;
}

.pokedex, .pokedex:focus, .pokedex:active, .pokedex:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}